@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    border: 0;
    outline: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    color: #ffffff;
    animation: darkTheme 60s ease-in-out infinite;
}

@keyframes darkTheme {
    0% {
        background-color: #01001b;
    }
    25% {
        background-color: #001220;
    }
    50% {
        background-color: #01001b;
    }
    75% {
        background-color: #180018;
    }
    100% {
        background-color: #01001b;
    }
}

section {
    min-height: 50vh;
    padding: 10rem 9% 2rem;
}

.heading {
    margin-bottom: 4rem;
    text-align: left;

    span {
        color: aqua;
    }
}

.btn {
    margin-top: 4rem;
    border-radius: 25px;
    background-color: #ffffff;
    text-decoration: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    color: #000000;
}

.btn:hover {
    background-color: aqua;
    color: #000000;
    transition: 0.3s ease-out;
}


/* Navbar section styling */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    animation: darkTheme 60s ease-in-out infinite;
    border-top: .2rem solid rgba(0, 0, 0, 0.25);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 1.4rem;
    color: aqua;
    outline: 50px;
    text-align: left;
    font-weight: 700;
    text-decoration: none;
    cursor: default;
}

.navbar {
    display: inline-flex;
    flex-direction: row;
}

.navbar a {
    display: inline-block;
    font-size: 1rem;
    color: #ffffff;
    margin-left: 4rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar a:hover {
    color: aqua;
}

.navbar a:after {
    display:block;
    content: '';
    width: inherit;
    border-bottom: solid 2px aqua;  
    transform: scaleX(0);  
    transition: transform .2s ease;
}

.navbar a:hover:after { 
    transform: scaleX(1);
}

#toggler-icon {
    font-size: 1.5rem;
    color: #ffffff;
    display: none;
}
#toggler-icon:hover {
    color: aqua;
    transition: .3s ease;
}



/* Home section styling */
.home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.home-content h3 {
    font-size: 1.2rem;
    font-weight: 700;

    span {
        color: aqua;
    }
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-image img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-0.8rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.2rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    background: transparent;
    font-size: 1.6rem;
    color: #ffffff;
    margin: 2rem 1rem 2rem 0;
}

.social-media a:hover {
    font-size: 1.8rem;
    color: aqua;
    transition: 0.05s ease-out;
}


/* About section styling */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-img img {
    width: 30vw;
    height: 35vw;
}

p {
    margin: 1rem 0 1rem;
}


/* Services section styling */
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.services-container .services-box {
    flex: 0.4 0.4 2rem;
    padding: 2rem 1.8rem;
    border-radius: 1rem;
    text-align: center;
    border: 0.2rem solid #888888;
    transition: 0.5s ease;
}

.services-container .services-box:hover {
    border-color: aqua;
    transform: scale(1.06);
    /* transition: 0.5s ease-in-out; */
}

.services-box i {
    font-size: 2rem;
    color: #ffffff;
}


/* Portfolio section styling */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), #00191b);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer p {
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    color: #ffffff;
}

.portfolio-layer a i {
    font-size: 1.4rem;
}

/* Contact section styling */
.contact form {
    max-width: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    border: 0.2rem solid #888888;
    border-radius: .4rem;
    animation: darkTheme 60s ease-in-out infinite;
    margin: .6rem 0;
}

.contact form .input-box input {
    width: 49%;
    height: 3rem;
}

.contact form textarea {
    resize: none;
}


/* Footer section styling */
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    border-top: 0.1rem solid #888888;
    animation: darkTheme 60s ease-in-out infinite;
}

.back-to-top {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    color: #ffffff;
}

.back-to-top i {
    color: #ffffff;
    animation: floatImage 3s ease-in-out infinite;
}

.back-to-top i:hover {
    color: aqua;
    animation: none;
}

.footer-txt {
    padding: 1rem;
}

.footer-txt p {
    padding: 0 0 1.2rem 0;
    border: 0;
    font-size: 0.8rem;
}


/* Screen display settings */
@media (max-width: 1200px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 960px) {
    html {
        font-size: 85%;
    }
    .header, .footer {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 5rem 3%;
    }

}

@media (max-width: 720px) {
    html {
        font-size: 75%;
    }
    
    .navbar {
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100%;
        padding: .8rem 3%;
        border-bottom: .2rem solid rgba(0, 0, 0, 0.25);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.25);
        display: none;
    }
    .navbar.active {
        display: block;
        background: linear-gradient(rgba(0,0,0,0), #005158ad);
    }
    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }
    .navbar a:after {
        transform-origin: left;
        transition: .3s ease-in;
    }
    section {
        padding: 8rem 3% 0 3%;
    }
    #toggler-icon {
        display: block;
    }
    .home {
        flex-direction: column;
        padding-top: 8rem;
    }
    .home-content {
        order: 2;
    }
    .home-image img {
        width: 30vw;
        margin-bottom: 3rem;
    }
    .about {
        flex-direction: column;
    }
    .about-img img {
        width: 25vw;
    }
    .services-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
    .services-box {
        max-width: 30rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    html {
        font-size: 70%;
    }
    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .home-image img {
        width: 20vw;
    }
    .contact form {
        max-width: none;
    }
    .contact form .input-box {
        flex-direction: column;
        align-items: center;
    }
    .contact form .input-box input,
    .contact form textarea {
        width: 90%;
    }
}


